node_modules
/node_modules
/node_modules/**
/.sass-cache
/.tmp
/app/bower_components
.editorconfig
*/bower_components/**
public
.tmp
**/.tmp/**
*/.tmp/**
.tmp/**
.idea/**
.sass-cache
app/bower_components
heroku
/views
dist
.idea
**/.idea/**
.idea/vcs.xml
.idea/*
.idea/workspace.xml

.tmp/styles/main.css
